
<div class="mx-auto" style="width: 200px;">
    <h1>alienjobs.com </h1>
</div>
<div>
  <ul class="nav">
    <!-- <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup">Signup Guest</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signupemployer">Signup Employer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="/addjob">crud function here TA!!!!</a>
    </li>
</div>